main {
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://w.wallhaven.cc/full/73/wallhaven-73o16e.jpg') no-repeat center;
}

.card {
  width: 60%;
  height: 40%;
  padding: 2em 3em;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  border: 1px solid #ffffff88;
  z-index: 1;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://w.wallhaven.cc/full/73/wallhaven-73o16e.jpg') no-repeat center;
  filter: blur(20px);
  margin: -30px;
  z-index: -1;
}